/* GENERAL */
html, body {
    padding: 0;
    margin: 0;
    font-family: "Rubik";
    image-rendering: smooth;
    scroll-behavior: smooth;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

/* SPLASH */
#splash-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    margin-top: 100px;
}

#splash-box h1 {
    color: rgb(8, 66, 113);
    font-weight: 100;
    margin: 10px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: rgb(234, 0, 109);
    padding: 20px;
    font-size: 20pt;
    cursor: pointer;
    font-family: Rubik, sans-serif;
    letter-spacing: 2pt;
    transition: all 0.2s;
    color: white;
}

button:hover {
    background-color: rgb(162, 26, 142);
}

#register-button {
    outline: none;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: 0.5s;
}

#register-button:hover {
    box-shadow: inset 15rem 0 0 0 rgb(162, 26, 142);
    background-color: rgb(234, 0, 109);
}

#register-button i { /* the font-awesome arrow next to the "register" text */
    position: relative;
    transition: left 0.2s;
    left: 0px;
}

#register-button:hover i {
    left: 5px;
}

#splash-logo {
    width: 80%;
    filter: drop-shadow(0px 0px 30px white);
    transition: filter 0.2s;
}

#splash-logo:hover {
    filter: drop-shadow(0px 0px 50px rgb(0, 200, 255));
}

/* SECTIONS */
.section {
    padding: 20px 20%;
    position: relative;
    padding-bottom: 200px;
    font-size: 15pt;
}

@media screen and (max-width: 1200px) {
    .section {
        padding: 20px 10%;
    }
}

@media screen and (max-width: 800px) {
    .section {
        padding: 20px 5%;
    }
}

.section-wrapper {
    position: relative;
}

h1 {
    font-size: 60pt;
    z-index: 1000;
    position: relative;
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 40pt;
    }
}
    
h2 {
    font-size: 30pt;
    position: relative;
    font-weight: 400;
}

table {
    border-style: hidden;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border-radius: 10px;
    box-shadow: 0 0 0 2px white;
    overflow: hidden;
}

thead {
    background-color: rgba(12, 71, 143, 0.53);
}

td, th {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-size: 15pt;
    font-weight: 200;
    text-align: center;
}

a {
    color: #ffe270;
    transition: 0.25s;
}

a:hover {
    color: #e0c248;
}

#splash {
    background-image: url("../img/bg_sky.png");
    padding: 20px 0px;
}

#about {
    background-image: url("../img/bg_about.png");
    color: white;
}

#faq {
    background-image: url("../img/bg_faq.png");
    color: white;
}

#schedule {
    background-image: url("../img/bg_schedule.png");
    color: white;
}

#sponsors {
    background-image: url("../img/bg_sponsors.png");
}

#team {
    background-image: url("../img/bg_team.png");
    color: white;
}

/* COUNTDOWN */
#countdown-rock {
    width:100%;
    position:absolute;
    bottom:-100px;
    right:0px;
    z-index:199;
}

#countdown-timer {
    position: absolute;
    bottom:0;
    right:0;
    transform:skew(-10deg);
    font-size: 9pt;
    fill: rgb(85, 71, 33);
}

/* FOREGROUND */
.trans {
    position: absolute;
    z-index: 100;
    top: 0px;
    transform: translate(0%, -50%);
    width: 100%;
}

.trans-scroll-container{
    width: 100%;
}

.trans-scroll-container img{
    position: absolute;
    transform: translateY(-50%);
}

@keyframes waves {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

#about-transition {
    z-index: 200;
}

#waves {
    animation: waves 4s infinite;
}

/* ACCORDION */
.accordion {
    border: 2px solid rgb(255, 255, 255);
    overflow:hidden;
    border-radius: 10px;
}

.accordion button {
    display: block;
    border-radius: 0px;
    width: 100%;
    letter-spacing: normal;
    text-align: left;
    padding: 10px;
    margin: 0px;
}

.accordion button:not(:first-child) {
    border-top: 2px solid white;
}

.accordion .active {
    border-bottom: 2px solid white;
}

.accordion button:after {
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 900;
    content: "\f107";
    font-size: 25px;
    float: right;
    margin-left: 5px;
    transition: transform 0.2s ease-out;
    transform: rotate(0deg);
}
  
.accordion .active:after {
    transform: rotate(180deg);
}

.accordion div {
    padding: 0px 10px;
    font-size: 15pt;
    background-color: rgba(3, 53, 106, 0.482);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0px;
}

/* SPONSORS */
.sponsor-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-grid a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.sponsor-grid img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    bottom: 0px;
}

.sponsor-grid img:hover {
    filter: drop-shadow(0px 0px 20px rgba(94, 94, 94, 0.5));
    bottom: 5px;
}

/* TEAM */
.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
}

.img-grid div {
    border-radius: 10px;
    background-color: rgba(52, 43, 23, 0.9);
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    bottom: 0px;
}

.img-grid div:hover {
    border-radius: 10px;
    background-color: rgba(52, 43, 23, 0.8);
    bottom: 5px;
}

.img-grid h3 {
    font-size: 15pt;
    font-weight: 200;
    text-align: center;
    margin: 10px;
}

.img-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

#team-carousel-container {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

#team-carousel-container .button-container {
    width: 10%;
    box-sizing: border-box;
    display: flex;
}

#team-carousel-container button {
    margin: auto;
    padding: 0px;
    display: inline-block;
    background-color: transparent;
    transition: color 0.1s;
    border-radius: 0px;
    font-size: 50pt;
    color: white;
}

#team-carousel-container button:hover {
    color: rgb(224, 224, 224);
}

#team-carousel-container .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
#team-carousel-container .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#team-container {
    width: 80%;
    float: left;
    box-sizing: border-box;
    transition: opacity 0.2s;
}

dialog {
    position: fixed;
    border: none;
    border-radius: 5px;
    max-width: 50%;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

dialog img {
    max-width: 30%;
    border-radius: 10px !important;
}

/* NAVBAR */

nav {
    position: fixed;
    top: 0px;
    z-index: 100000;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(8, 66, 113);
    font-size: 15pt;
}
  
nav li {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

nav img {
    height: 50px;
    padding: 5px 10px;
    transition: transform 0.2s;
}
  
nav img:hover {
    transform: rotateZ(-20deg);
}

nav > ul > li > a, nav #dropdown {
    color: white;
    text-align: center;
    padding: 20px 14px;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    transition: background-color 0.1s;
    background-color: transparent;
    margin: 0px;
}
  
nav > ul > li > a:hover, nav #dropdown:hover {
    background-color: rgba(41, 144, 255, 0.66);
}

nav #dropdown #dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(11, 72, 122, 0.87);
    backdrop-filter: blur(3px);
    top: 100%;
    left: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    z-index: 999999;
    padding: 0px;
}

nav #dropdown-content a {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
}

nav #dropdown-content a:hover {
    background-color: rgba(41, 144, 255, 0.66);
}

nav #dropdown:hover #dropdown-content {
    display: block;
}

#mobile_nav {
    display: none;
}

.visible {
    display: block !important;
}

#mobile_menu {
    background-color: rgba(17, 82, 136, 0.831);
    display: none;
    transition: 0.2s opacity;
    position: absolute;
    top: 64.8px;
    width: 100%;
    backdrop-filter: blur(3px);
}

#mobile_menu li {
    display: block;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

#mobile_menu li > a {
    display: block;
    padding: 10px;
    transition: 0.2s all;
}

#menu-button:hover{
    background-color: transparent;
}

@media screen and (max-width: 1000px) {
    nav {
        display: none;
    }   
    #mobile_nav {
        display: block;
    } 
}

#register-button-nav {
    float: right;
    font-size: 15pt;
    letter-spacing: 0;
    padding: 10px;
    position: relative;
    top: 10px;
    right: 10px;
    outline: none;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: 0.5s;
}

#register-button-nav i { /* the font-awesome arrow next to the "register" text */
    position: relative;
    transition: left 0.2s;
    left: 0px;
}

#register-button-nav:hover i {
    left: 5px;
}